<app-header></app-header>
<ng-sidebar-container style = "height: 100vh">
    <ng-sidebar [(opened)]="_opened" mode = "push" >
          <app-left-menu> </app-left-menu>
    </ng-sidebar>
<div ng-sidebar-content>
        <header class="bg-primary text-white p-2"> 
         <a class="mb-0" (click)="_toggleSidebar()"><i class="fas fa-bars"></i></a>
         <span class="pl-2">Heading</span>
        </header>
         <section class="p-3">
             <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
             </section>
</div>
</ng-sidebar-container>
<app-footer></app-footer>