<div class="nav-side-menu">
  <div class="menu-list">
        <a closeSidebar class="right"><i class="fas fa-times"></i></a>
      <ul id="menu-content" class="menu-content collapse out">
                <li class="active"><a href="#">Item Menu</a></li>
                <li><a href="#">Item Menu</a></li>
                <li><a href="#">Item Menu</a></li>
                <li><a href="#">Item Menu</a></li>
                <li><a href="#">Item Menu</a></li>
              
        </ul>
  </div>
</div>